{% extends 'index.html' %}

{% block title %}
FuSite-工具
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}

<div class="box box mt-6 ml-6 mr-6">
    <button class="button is-large is-fullwidth {{ username|color }} mt-6 mb-6" onclick="window.open('/tools/WordCloud', '_self')">词云图</button>
    <button class="button is-large is-fullwidth {{ username|color }} mt-6 mb-6" onclick="window.open('/tools/translation', '_self')">翻译</button>
    <!-- <button class="button is-large is-fullwidth {{ username|color }} mt-6 mb-6" onclick="window.open('/tools/face_recognition', '_self')">人脸识别</button> -->
    <!-- <button class="button is-large is-fullwidth {{ username|color }} mt-6 mb-6" onclick="window.open('/tools/idiom_search', '_self')">成语搜索</button> -->
    <!-- <button class="button is-large is-fullwidth {{ username|color }} mt-6 mb-6" onclick="window.open('/tools/Handwriting', '_self')">生成手写图片</button> -->
    <button class="button is-large is-fullwidth {{ username|color }} mt-6 mb-6" onclick="window.open('/tools/AI_Draw', '_self')">AI智能绘画</button>
</div>

{% endblock %}

