{% extends 'index.html' %}

{% block title %}
FuSite-聊天
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="box columns" style="margin:0;padding:0;">
    <div class="column is-1" style="background-color: rgb(46,46,46);height: 100vh;">
        <!--<span class="icon">-->
            <!--<i></i>-->
        <!--</span>-->
    </div>
    <div class="column is-3" style="background-color: rgb(230,230,230);">
            <div class="field has-addons">
                <div class="control">
                    <input class="input" type="text" placeholder="Find a repository" style="background: rgb(247,247,247);">
                </div>
                <div class="control">
                    <a class="button is-info">
                        Search
                    </a>
                </div>
            </div>
    <hr>
    </div>
    <div class="column" style="background-color: rgb(245,245,245);">
        <!--Auto-->
    </div>
</div>
{% endblock %}
