<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>{% block title %}FuSite-{{ username }}的主页{% endblock %}</title>
    <link rel="stylesheet" href="{{ 'main-css'|jscdn }}">
    <link rel="stylesheet" href="{{ 'bulma'|jscdn }}">
    <link rel="stylesheet" href="https://fu-mingzhe.github.io/static/tinymce/plugins/becodesample/highlight.js-11.5.1/styles/atom-one-light.css">
</head>
<body>
    <div class="pt-6">
        <nav class="navbar is-primary container" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="/static/images/logo.png" width="112" height="28">
                </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/">
                        首页
                    </a>
                    <a class="navbar-item" href="/music/index">
                        音乐
                    </a>
                    <a class="navbar-item" href="/blog/index">
                        博客
                    </a>
                    <!--<a class="navbar-item" href="/chat/index">-->
                        <!--聊天-->
                    <!--</a>-->
                    <a class="navbar-item" href="/tools/index">
                        工具
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div class="box mt-6 ml-6 mr-6 pt-6">
        <div class="is-radiusless is-shadowless">
            <div class="columns is-mobile" style="border-bottom: #ededed solid 1px; padding-bottom: 1rem">
                <div class="column is-narrow">
                    <figure class="image is-96x96">
                        {% if head == "" %}
                            <img class="is-rounded" src="/static/images/avatar.png">
                        {% else %}
                            <img class="is-rounded" src="/static/images/users/{{ username }}.png">
                        {% endif %}
                    </figure>
                </div>
                <div class="column is-narrow">
                    <div style="padding-top: 1.5rem;">
                        <h1 class="title is-size-4">{{ username }}</h1>
                        {% if Personal_signature == "" %}
                            <p class="subtitle is-size-6">暂未设置个性签名</p>
                        {% else %}
                            <p class="subtitle is-size-6">{{ Personal_signature }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="columns" style="padding:1rem 0; ">
                <div class="column is-2">
                    <p>个人信息</p>
                </div>
                <div class="column">
                    <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                        <div class="column is-2">
                            <span class="has-text-grey-light">邮箱</span>
                        </div>
                        <div class="column is-narrow">
                            <span class="has-text-black-ter">{{ email }}</span>
                        </div>
                    </div>
                    <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                        <div class="column is-2">
                            <span class=" has-text-grey-light">手机号</span>
                        </div>
                        <div class="column is-narrow">
                            {% if phone == "" %}
                            <span class="has-text-black-ter">暂未设置</span>
                            {% else %}
                            <span class="has-text-black-ter">{{ phone }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                        <div class="column is-2">
                            <span class=" has-text-grey-light">性别</span>
                        </div>
                        <div class="column is-narrow">
                            {% if sexual == "" %}
                            <span class="has-text-black-ter">暂未设置</span>
                            {% else %}
                            <span class="has-text-black-ter">{{ sexual }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                        <div class="column is-2">
                            <span class=" has-text-grey-light">生日</span>
                        </div>
                        <div class="column is-narrow">
                            {% if birthday == "" %}
                            <span class="has-text-black-ter">暂未设置</span>
                            {% else %}
                            <span class="has-text-black-ter">{{ birthday }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="columns is-mobile" style="border-bottom: #ededed solid 1px">
                        <div class="column is-2">
                            <span class=" has-text-grey-light">年龄</span>
                        </div>
                        <div class="column is-narrow">
                            {% if age == "" %}
                            <span class="has-text-black-ter">暂未设置</span>
                            {% else %}
                            <span class="has-text-black-ter">{{ age }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns" style="padding:1rem 0; ">
                <div class="column is-2">
                    <p>个人简介</p>
                </div>
                <div class="column">
                    <div class="content">
                        {% if Personal_Introduction == "" %}
                            暂未设置
                        {% else %}
                            {{ Personal_Introduction }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <hr style="margin-top: 3em;">
        {% if index_content != None %}
            <h1 class="title has-text-wight-bold is-size-5" style="margin-top: 3em;">个人主页</h1>
            {{ index_content|safe }}
        {% else %}
            <h1 class="title has-text-wight-bold is-size-5 has-text-danger" style="margin-top: 3em; margin-bottom: 1em;">暂未设置个人主页</h1>
        {% endif %}
    </div>
    <script src="{{ 'mui'|jscdn }}"></script>
    <script>
        mui.init();
        var navbar_menu = mui(".navbar-menu")[0];
        mui(".navbar-burger")[0].addEventListener("tap", function(){
            this.classList.toggle("is-active");
            navbar_menu.classList.toggle("is-active");
        })
    </script>
</body>
</html>
