{% extends 'users/profile.html' %}

{% block head %}

{% endblock %}

{% block content_title %}
<li class="is-active"><a>更改用户名</a></li>
{% endblock %}

{% block users %}

{% endblock %}

{% block content %}

<form action="" method="post">
    <h1 class="title has-text-centered has-text-wight-bold is-size-2">更改用户名</h1>
    <p style="margin-top: 1em;">
        <label for="id_username">新用户名:</label>
        <input type="text" name="username" class="input is-link" placeholder="用户名" minlength="2" maxlength="24" required id="id_username" value="{{ username }}">
    </p>
    <p style="margin-top: 1em;">
        <label for="id_password">密码:</label>
        <input type="password" name="password" class="input is-link" placeholder="密码" minlength="8" maxlength="32" required id="id_password" value="{{ password }}">
    </p>
    <div class="is-pulled-left is-size-7 has-text-danger" style="margin-top: 1em;">
        <span>{{ error }}</span>
    </div>
    <div class="is-clearfix"></div>
    <input type="submit" style="margin-top: 1em;" class="button is-link is-fullwidth" value="提交">
</form>

{% endblock %}