{% extends 'users/profile.html' %}

{% block content_title %}
<li class="is-active"><a>编辑个人主页</a></li>
{% endblock %}

{% block users %}

{% endblock %}

{% block content %}
<form action="" method="post">
    <textarea name="content" id="content" style="height: 100em;">{{ 个人主页 }}</textarea>
    <input type="submit" class="button is-info is-outlined is-fullwidth" style="margin-top: 1em;">
</form>
{% endblock %}

{% block end %}
    <script src="{{ 'tinymce'|cdn }}"></script>
    <script src="{{ 'highlight'|cdn }}"></script>
    <script>
        tinymce.init({
            selector: "#content",
            language:'zh_CN',
            branding: false,
            menu: {
                file: {title: '文件', items: ''},
                edit: {title: '编辑', items: 'undo redo | cut copy paste pastetext | selectall'},
                insert: {title: '插入', items: 'link media | template hr'},
                view: {title: '查看', items: 'code visualaid'},
                format: {title: '格式', items: 'bold italic underline strikethrough superscript subscript | formats | removeformat'},
                table: {title: '表格', items: 'inserttable tableprops deletetable | cell row column'},
                tools: {title: '工具', items: 'code'}
            },
            plugins: 'indent2em bdmap image imagetools code quickbars anchor paste table link visualaid hr becodesample  insertdatetime lists media preview searchreplace wordcount charmap emoticons fullscreen kityformula-editor lineheight importword fontsizeselect',
            toolbar1: 'code undo redo | cut copy paste | forecolor backcolor bold italic underline strikethrough link anchor | alignleft aligncenter alignright alignjustify',
            toolbar2: 'fontsizeselect title | superscript subscript | numlist bullist | becodesample bdmap indent2em',
            toolbar3: 'table image media hr insertdatetime preview searchreplace kityformula-editor  charmap emoticons lineheight wordcount importword fullscreen',
            fontsize_formats: '10px 12px 14px 16px 18px 24px 36px 48px 64px ',
            quickbars_insert_toolbar: 'image link table emoticons',
            content_css: "{{ 'atom-one-light'|cdn }}",
            lineheight_formats: '1.0 1.2 1.4 1.5 1.6 1.8 2.0 2.4 2.5 2.6 2.8 3.0',
            images_upload_url: '/upload_images',
            images_upload_base_path: '/'
        });
    </script>
{% endblock %}